[Desktop Entry]
Type=Application
Name=Coreavor
Icon=/usr/share/icons/coreavor.png
Comment=A simple Image Viewer
Exec=/usr/local/bin/Coreavor %U
TryExec=/usr/local/bin/Coreavor
Terminal=false
MimeType=image/png;image/gif;image/jpg;
